@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Inconsolata', monospace;
  font-size:62,5%;
}
.container{
  width: 100%;;
  display:flex;
  align-items:center;
  top:0;
  position: fixed;
  z-index: 2000;
  background-color: white;
}
.container-palette{
  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.palette{
width: 9rem;
height: 6rem;
display: flex;
align-items: center;
justify-content: center;
border: 3px solid white;
border-radius: 10px;
opacity: .9;
z-index: 1;
cursor:pointer;

}
.palette:hover{
  transform: scale(1.2);
  z-index: 1000;
  opacity: 1;
}
.container-mini-palette{
 
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.palette-mini{
  width: 1px;
  height: 1px;
}
.text{
  text-align: center;
  padding:.4rem;
  background-color: rgba(0, 0, 0, 0.211);
  color: white;
  border-radius: 5px;
}
.container-info{
  margin:2rem;
  text-align: center;
}
h1{
  text-align: center;
 margin: 3rem;
 
}

p{
  margin: 2rem 0;
}

/* BUTTONS */
.button{
  background-color: rgb(27, 27, 27);
  color: white;
  border:none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  padding: 1rem;
}
.button:hover{
  -webkit-animation: shake 0.8s both;
	        animation: shake 0.8s both;
}
.zoom{
  margin:2rem;
  padding:1rem;
  border:none;
  cursor: pointer;
  font-weight: bold;
}

 @-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

